@charset "utf-8";

*{box-sizing:border-box}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dt,dd{margin:0;padding:0}
ul,ol{list-style:none}
a{text-decoration:none;color:#000}
img{vertical-align:top;border:0}
body{overflow-y:auto}
body.fixed{overflow-y:hidden}
.clearfix::before,.clearfix::after{content:"";display:block}
.clearfix::after{clear:both}
.serif-font{font-family:"Domine",serif;font-style:italic}